* {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 1s ease all;
}
section {
    margin: 30px auto;
    width: 1300px;
    background-color: rgba(255, 255, 255, 0.828);
    height: 100%;
}
.accordeon_items {
    padding: 20px;
    border-top: 1px solid rgb(0, 44, 120);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: -1px;
    height: 100%;
}
p {
    color: #bfbfbf;
    padding: 3px 0;
}
h2 {
    cursor: pointer;
    padding: 0 0 10px;
}
.accordeon_items:not(.show) .accordeon_text {
    display: none;
}